# Deliverable 2:  Determine Bias of Vine Reviews

### Dependencies and data import

In [1]:
# Dependencies
import pandas as pd

# File to Load
vine_data_to_load = "vine_table.csv"

# Read the Vine Reviews and store into a Pandas DataFrame
vine_data_df = pd.read_csv(vine_data_to_load)

# Check Vine Reviews
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2UM5QMHBHC90Q,5.0,0.0,0.0,N,Y
1,RF0D1LEIF6L7,4.0,0.0,0.0,N,Y
2,RM6YKIWQVNSY,1.0,6.0,6.0,N,Y
3,R1RL3L68ASPS36,4.0,0.0,0.0,N,Y
4,R1U4XFBFAG34CY,5.0,0.0,0.0,N,Y

In [2]:
vine_data_df.count()

review_id            1741100
star_rating          1741095
helpful_votes        1741095
total_votes          1741095
vine                 1741095
verified_purchase    1741095
dtype: int64

### Step 1. Filter the data and create a new DataFrame to retrieve all the rows where the total_votes count is equal to or greater than 20.

In [3]:
filtered_data_df = vine_data_df[(vine_data_df['total_votes'] >= 20)]
filtered_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5.0,20.0,23.0,N,Y
66,RSBELAIC899DO,5.0,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4.0,43.0,43.0,N,Y
329,R39BVCCVPRV6F5,5.0,10.0,22.0,N,Y
609,RL9VF9WXHEHKR,5.0,35.0,36.0,N,Y

In [4]:
filtered_data_df.count()

review_id            35312
star_rating          35312
helpful_votes        35312
total_votes          35312
vine                 35312
verified_purchase    35312
dtype: int64

### Step 2.  Filter the new DataFrame created in Step 1 and create a new DataFrame to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

In [5]:
total_votes_df = filtered_data_df[(filtered_data_df['helpful_votes'] / filtered_data_df['total_votes'] >= 0.5)]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5.0,20.0,23.0,N,Y
66,RSBELAIC899DO,5.0,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4.0,43.0,43.0,N,Y
609,RL9VF9WXHEHKR,5.0,35.0,36.0,N,Y
661,R1ZINLWUOLTZ46,1.0,39.0,45.0,N,N

In [6]:
total_votes_df.count()

review_id            31830
star_rating          31830
helpful_votes        31830
total_votes          31830
vine                 31830
verified_purchase    31830
dtype: int64

### Step 3.  Filter the DataFrame and create a new DataFrame that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

In [7]:
vine_program_yes_df = total_votes_df[(total_votes_df['vine'] == "Y")]
vine_program_yes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9436,R3QIQRG107AP19,5.0,38.0,41.0,Y,N
14472,R1ZNBHGCYE8VN1,5.0,175.0,181.0,Y,N
25527,R1BNZJ9IKGRBC2,4.0,63.0,70.0,Y,N
90707,R2IXTN4PBRHBO2,5.0,19.0,24.0,Y,N
93535,R32AOW3L09SYMQ,5.0,29.0,34.0,Y,N

In [8]:
vine_program_yes_df.count()

review_id            285
star_rating          285
helpful_votes        285
total_votes          285
vine                 285
verified_purchase    285
dtype: int64

### Step 4.  Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

In [9]:
vine_program_no_df = total_votes_df[(total_votes_df['vine'] == "N")]
vine_program_no_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5.0,20.0,23.0,N,Y
66,RSBELAIC899DO,5.0,46.0,51.0,N,Y
130,R2HCC4CJ59D225,4.0,43.0,43.0,N,Y
609,RL9VF9WXHEHKR,5.0,35.0,36.0,N,Y
661,R1ZINLWUOLTZ46,1.0,39.0,45.0,N,N

In [10]:
vine_program_no_df.count()

review_id            31545
star_rating          31545
helpful_votes        31545
total_votes          31545
vine                 31545
verified_purchase    31545
dtype: int64

### Step 5. Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

* __Determine the total number of reviews__

In [11]:
vine_data_df.count()

review_id            1741100
star_rating          1741095
helpful_votes        1741095
total_votes          1741095
vine                 1741095
verified_purchase    1741095
dtype: int64

* __Determine the number of 5-star reviews (Entire dataset)__

In [12]:
five_star_reviews_df = vine_data_df[(vine_data_df['star_rating'] == 5)]
five_star_reviews_df.count()

review_id            1113563
star_rating          1113563
helpful_votes        1113563
total_votes          1113563
vine                 1113563
verified_purchase    1113563
dtype: int64

* __Determine the number of 5-star reviews ("Vine" = "Y")__

In [13]:
five_star_reviews_vine_yes_df = five_star_reviews_df[(five_star_reviews_df['star_rating'] == 5) & (five_star_reviews_df['vine'] == "Y")]
five_star_reviews_vine_yes_df.count()

review_id            4328
star_rating          4328
helpful_votes        4328
total_votes          4328
vine                 4328
verified_purchase    4328
dtype: int64

* __Determine the number of 5-Star reviews ("Vine" = "N")__

In [14]:
five_star_reviews_vine_no_df = five_star_reviews_df[(five_star_reviews_df['star_rating'] == 5) & (five_star_reviews_df['vine'] == "N")]
five_star_reviews_vine_no_df.count()

review_id            1109235
star_rating          1109235
helpful_votes        1109235
total_votes          1109235
vine                 1109235
verified_purchase    1109235
dtype: int64

### Calculations and formatting of totals and percentages.

In [18]:
# Calculations for total reviews, total 5-star reviews, and percentages of Vine and non-Vine 5-star reviews
total_review_count = vine_data_df["star_rating"].count()
five_star_reviews_total = five_star_reviews_df["star_rating"].count()
five_star_vine_reviews = five_star_reviews_vine_yes_df["star_rating"].count()
five_star_reviews = five_star_reviews_vine_no_df["star_rating"].count()
percentage_of_five_star_vine_reviews = five_star_vine_reviews / five_star_reviews_total * 100
percentage_of_five_star_reviews = five_star_reviews / five_star_reviews_total * 100

In [22]:
# Create a dataframe to hold the reviews summary
reviews_summary_df = pd.DataFrame(
        [{"Total Reviews": total_review_count,
         "5-Star Reviews": five_star_reviews_total,
         "Vine 5-Star Total": five_star_vine_reviews,
         "non-Vine 5-Star Total": five_star_reviews,
         "Vine 5-Star %age": percentage_of_five_star_vine_reviews,
         "non-Vine 5-Star %age": percentage_of_five_star_reviews}])

# Format the "Total Reviews" to have a comma for a thousands separator.
reviews_summary_df["Total Reviews"] = reviews_summary_df["Total Reviews"].map("{:,}".format)
# Format the "Total 5-Star Reviews" to have a comma for a thousands separator.
reviews_summary_df["5-Star Reviews"] = reviews_summary_df["5-Star Reviews"].map("{:,}".format)
# Format the "Vine 5-Star Total" to have a comma for a thousands separator.
reviews_summary_df["Vine 5-Star Total"] = reviews_summary_df["Vine 5-Star Total"].map("{:,}".format)
# Format the "non-Vine 5-Star Total" to have a comma for a thousands separator.
reviews_summary_df["non-Vine 5-Star Total"] = reviews_summary_df["non-Vine 5-Star Total"].map("{:,}".format)
# Format the "Vine 5-Star %age" to round to the nearest hundredth place.
reviews_summary_df["Vine 5-Star %age"] = reviews_summary_df["Vine 5-Star %age"].map("{:.2f}".format)
# Format the "non-Vine 5-Star %age" to round to the nearest hundredth place.
reviews_summary_df["non-Vine 5-Star %age"] = reviews_summary_df["non-Vine 5-Star %age"].map("{:.2f}".format)

# Drop the data frame index
reviews_summary_df = reviews_summary_df.style.hide_index()

# Display the reviews summary data frame
reviews_summary_df